In [2]:
#Using Pandas libraries to parse Wikipedia Website for Toronto data
import pandas as pd
from pandas.io.html import read_html
page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
#After inspecting site html, grabbing the table with class = "wikitable sortable" and creating df
webtable = read_html(page, attrs={"class":"wikitable sortable"})
df = webtable[0]
df.head(15)

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Not assigned
8       M8A      Not assigned      Not assigned
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
12      M2B      Not assigned      Not assigned
13      M3B        North York   Don Mills North
14      M4B         East York  Woodbine Gardens

In [4]:
#removing rows where Borough = "Not assigned"
df = df[df.Borough != "Not assigned"]
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Not assigned
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [5]:
#finding rows with 'Neighbourhood' value set to 'Not assigned'
df[df['Neighbourhood'] == 'Not assigned']['Postcode']

7    M7A
Name: Postcode, dtype: object

In [6]:
#Setting Neighborhood on index row 7 to 'Queen's Park'
df.loc[7,'Neighbourhood'] = 'Queen\'s Park'

/Users/toddtolman/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/toddtolman/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
df.head(15)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Queen's Park
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North
14      M4B         East York  Woodbine Gardens
15      M4B         East York     Parkview Hill
16      M5B  Downtown Toronto           Ryerson
17      M5B  Downtown Toronto   Garden District
18      M6B        North York         Glencairn

In [8]:
#grouping Postcode by Neighborhood
df_clean = df.groupby("Postcode").agg(lambda x:','.join(set(x)))
df_clean

              Borough                                      Neighbourhood
Postcode
M1B       Scarborough                                      Rouge,Malvern
M1C       Scarborough               Rouge Hill,Highland Creek,Port Union
M1E       Scarborough                    Morningside,West Hill,Guildwood
M1G       Scarborough                                             Woburn
M1H       Scarborough                                          Cedarbrae
...               ...                                                ...
M9N              York                                             Weston
M9P         Etobicoke                                          Westmount
M9R         Etobicoke  Richview Gardens,Martin Grove Gardens,St. Phil...
M9V         Etobicoke  Humbergate,Silverstone,South Steeles,Thistleto...
M9W         Etobicoke                                          Northwest

[103 rows x 2 columns]

In [9]:
#resetting index values
df_clean.reset_index()

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Rouge Hill,Highland Creek,Port Union
2        M1E  Scarborough                    Morningside,West Hill,Guildwood
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Richview Gardens,Martin Grove Gardens,St. Phil...
101      M9V    Etobicoke  Humbergate,Silverstone,South Steeles,Thistleto...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [10]:
#getting shape of dataframe
df_clean.shape

(103, 2)

Getting Geospacial Data from .csv file

In [11]:
#reading Geospatial_Coordinates.csv and assigning to dataframe
df_geodata = pd.read_csv('Geospatial_Coordinates.csv')
df_geodata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
#updating df_geodata column header to match df_clean
df_geodata.rename(columns = {'Postal Code':'Postcode'}, inplace = True)
df_geodata.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [14]:
type(df_geodata)

pandas.core.frame.DataFrame

In [15]:
#merging dataframes along Postal Code
df_merged = pd.merge(df_clean, df_geodata, on='Postcode')
df_merged.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill,Highland Creek,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Morningside,West Hill,Guildwood",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476